html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

a:focus {
	outline: none;
}

img {
	border: none;
}

.panel1 {
	position: absolute;
	top: 82px;
	left: 35px;
	display: none;
	background: #4d90fe;
	border: 0px solid #111111;
	/*-moz-border-radius-topright: 20px;
	 -webkit-border-top-right-radius: 20px;
	 -moz-border-radius-bottomright: 20px;
	 -webkit-border-bottom-right-radius: 20px;*/
	width: 515px;
	height: auto;
	color: #fff;
	font-family: Roboto;
	text-align: center;
	font-size: 13px;
	font-weight: 300;
	padding: 3px 3px 3px 3px;
	border-radius: 0.8px 0.8px;
	/*padding: 5px 11px 8px 11px;*/
}

.panel1 p {
	margin: 0 0 15px 0;
	padding: 0;
	color: #cccccc;
}

.panel1 a, .panel1 a:visited {
	margin: 0;
	padding: 0;
	color: #9FC54E;
	text-decoration: none;
	border-bottom: 1px solid #9FC54E;
}

.panel1 a:hover, .panel1 a:visited:hover {
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

a.trigger {
	position: absolute;
	text-decoration: none;
	top: 80px;
	left: 0;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #000;
	padding: 25px 25px 20px 10px;
	font-weight: 700;
	background: rgba(90,90,90,0) url(img/punto.png) 85% 55% no-repeat;
	border: 0px solid #444444;
	/*-moz-border-radius-topleft: 20px;
	 -webkit-border-top-left-radius: 20px;
	 -moz-border-radius-bottomleft: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	 -moz-border-radius-bottomleft: 0px;
	 -webkit-border-bottom-left-radius: 0px;*/
	display: block;
	filter: alpha(opacity=40);
	opacity: .40;
}

a.trigger:hover {
	position: absolute;
	text-decoration: none;
	top: 80px;
	left: 0;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #000;
	padding: 25px 25px 20px 10px;
	font-weight: 700;
	background: rgba(90,90,90,0) url(img/punto.png) 85% 55% no-repeat;
	border: 0px solid #444444;
	/*-moz-border-radius-topright: 20px;
	 -webkit-border-top-right-radius: 20px;
	 -moz-border-radius-bottomright: 20px;
	 -webkit-border-bottom-right-radius: 20px;
	 -moz-border-radius-bottomleft: 0px;
	 -webkit-border-bottom-left-radius: 0px;*/
	display: block;
}

a.active.trigger {
	background: rgba(90,90,90,0) url(img/punto.png) 85% 55% no-repeat;
}

.check_labels {
	font-family: calibri, Arial, Verdana;
	font-size: 100%;
}
.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#search {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#pac-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px; /* Regular padding-left + 1. */
	width: 401px;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
/*
 #panel {
 position: absolute;
 top: 84.6%;
 left: 85.2%;
 margin-left: -180px;
 z-index: 5;
 background-color: #fff;
 padding: 5px;
 border: 1px solid #999;
 }
 */
#panel {
	opacity: 0.85;
	background: #4d90fe;
	/*border: 0px solid #4d90fe;*/
	border: 1px solid transparent;
	text-align: center;
	color: #fff;
	font-family: Roboto;
	font-size: 13px;
	padding: 5px 11px 8px 11px;
	z-index: 1;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#panel_despl {
	position: absolute;
	top: 80%;
	left: 0px;
	z-index: 5;
}

#panel_log {
	position: absolute;
	top: -17px;
	right: 313px;
	z-index: 5;
	color: black;
	height: 21px;
	margin: 0 -45px;
	margin-top: 20px;
}

.loader {
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: url('../home/content/contactenos/wait.gif') no-repeat rgb(255,255,255) center center;
}
.logout {
	position: absolute;
	top: -17px;
	right: 313px;
	/*background-color: #333333;
	 background-color: rgba(51, 51, 51, 0.8);
	 */
	height: 21px;
	width: 21px;
	margin: 0 -45px;
	margin-top: 20px;
	z-index: 5;
}
.waitLogout {
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
	position: absolute;
	top: -17px;
	right: 313px;
	/*background-color: #333333;
	 background-color: rgba(51, 51, 51, 0.8);
	 */
	height: 21px;
	width: 21px;
	margin: 0 -45px;
	margin-top: 20px;
	z-index: 5;
}
